* {
    margin: 0px;
    padding: 0;
    color: #4e4e4e;
}

.wrapper{
    width: 96%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2%;
}

header{
    padding: 25px 0px;
    background: #e5e5e5;

}
.logo{
    float: left;
    text-indent: -1000px;    
}

header nav{
    float: right;
}

header nav li  {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    list-style-type: none;  
}

header nav li a{
   text-decoration: none; 
   font-weight: bold;
   text-transform: uppercase;
}
    
header:after{
    display: block;
    content: "";
    clear: both;
}

header .current{
    color: #1abb9c;  
}

header .logo{
    float: left;
}

#main_banner{
     max-height: 500px;
     overflow: hidden;
}

#main_banner img{
    width: 100%;
}

#selling_points{
    margin-top: 20px;
}

#selling_points li{
    float: left;
    width: 23%;
    padding: 1%;
    text-align: center;
    list-style-type: none;
    line-height: 1.5em;
}

#selling_points li h3{
    padding: 15px
}

#selling_points:after{
    display: block;
    content: "";
    clear: both;
}

#latest_works{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid grey;
}

#latest_works h2{
    padding: 15px
}

#latest_works li{
    float: left;
    width: 32%;
    list-style-type: none;
    text-align: left;
    line-height: 1.5em;
}
#latest_works img{
    width: 100%;
}

#latest_works li h3{
    padding-top: 15px;
}

#latest_works li:nth-child(2){
    margin: 0 2%;
}

#latest_works p{
    line-height: 1.5em;
}

p.tags{
    padding-bottom: 15px;
    color: #aeaeae;   
}

#latest_works:after{
    display: block;
    content: "";
    clear: both;
}

#quote{
    text-align: center;
    margin-top: 30px;
    padding: 40px 20%;
    background-color: #efefef;
    line-height: 1.5em;
    font-size: 20px;
}

footer{
    background: #202020;
    padding: 30px;
    border-top: 8px solid grey;
    
}
footer ul{
    float: left;
    width: 25%;
    list-style-type: none;   
}

footer li{
    color: #aaa;
    width: 80%;
    padding-bottom: 15px;
    line-height: 1.3em;
}

footer h4{
    text-transform: uppercase;
}

footer .tw{
    padding-left: 20px;
    background: url(img/tweet.png) no-repeat 0px 5px;      
}

footer i{
    padding-right: 5px;
}

footer:after{
    display: block;
    content: "";
    clear: both;
}

#copyright{
  clear: both;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid grey;
}

#burger_menu{
    display: none;
}

.first_level li{
    position: relative;
    
}

.first_level > li{
    height: 25px; 
}

.first_level li .second_level{
    display: none;
    position: absolute;
    top: 25px;
    background-color: #4e4e4e;
    opacity: 0.9;
    
}

.first_level li .second_level li{
    width: 97px;
    text-align: left;
    margin: 0;
    padding-left: 2px;
    line-height: 1.9em;
    border-bottom: 2px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    font-size: 14px;
    
    
}

.first_level li .second_level li a{
    display: block;
    color:beige
}

.first_level li .second_level li a:hover{
    background-color: cornsilk;
    color: black;
}

.first_level li:hover .second_level{
    display: block;
    width: 100px;
    
}

.first_level li:hover{
    color: #1abb9c;
}

/*MEDIA QUERIES*/



@media screen and (max-width: 900px){
    
#selling_points li{
    width: 40%;
    padding: 0 5%;
    margin: 20px 0;
}
    
footer ul{
     width: 50% 
         
}

footer ul:nth-child(odd){
       clear: both;
}
 
#quote{
    width: 90%;
    padding: 40px 5%;
}   
}


@media screen and (max-width: 768px){
  
    header .logo{
        display: block;
        float: none;
        margin: 20px auto 15px;   
    }
    
    header nav{
        float:none;
        width: 100%;
        margin: 0 auto;
    }
    
    header nav li{
        margin-left: 0;
        width: 16.66%;
        text-align: center;
        font-size: 13px;
    }
    
    #latest_works li{
        width: 60%;
        margin: 25px 20% !important;
        float: none;  
    }
    
    #latest_works h2{
        text-align: center;
    }
}


@media screen and (max-width: 480px){
    
    #selling_points li{
        width: 80%;
        padding: 0 10%;
        margin: 25px 0;
    }
    
    #latest_works li{
        width: 80%;
        margin: 25px 10% !important;
    }
    
    #quote{
        font-size: 16px;
        font-weight: bold;
    }
    
    footer ul{
        width: 100%;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid grey;
        float: none;
    }
    
    header nav li{
        float: none;
        width: 100%;
        margin 0;
    }
    
    header nav{
        background: grey;
        padding-bottom:   7px;
    }
    
    header .wrapper{
        width: 100%;
        padding: 0;
    }
    
    header{
        padding-bottom: 0;
    }
    
    header nav li a{
        display: block;
        padding-top: 8px;
        border-top: 1px solid #4f4f4f;
        text-align: center;
        margin: 0;
        
    }
    
    header nav #burger_menu i{
        font-size: 25px;
        margin: 5px;
    }
    
     header nav #burger_menu {
         display: block;
         text-align: right;
         padding-top: 5px;
         padding-right: 8px;
         cursor: pointer;
         width: 20px;
    }
    
    header nav ul{
        height: 0;
        overflow: hidden
    }
    
    header nav ul.open{
        height: auto;
    }
     
}




















